# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env/
.env.local

# ========================
# Node / Frontend
# ========================
node_modules/
dist/
build/

# ========================
# OS / Editor
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Secrets
# ========================
*.key
*.pem
